.idea/
bin
*/build/
__pycache__
dist
bmstu_ovchinnikov_capsnet.egg-info
algorithms/model_data/yolo.dat
algorithms/model_data/wider_face_train_annotation.txt
algorithms/model_data/wider_face_val_annotation.txt
algorithms/model_data/wider_face_test_annotation.txt
algorithms/model_data/coco_train_annotation.txt
algorithms/model_data/coco_val_annotation.txt
algorithms/model_data/coco_test_annotation.txt
algorithms/downloads/
algorithms/tensorboard-logs/
algorithms/logs/
algorithms/basic_capsnet_train_test/capsnet_logs/
algorithms/diverse_capsnet_train_test/capsnet_logs/
algorithms/res_capsnet_train_test/capsnet_logs/
algorithms/complex_capsnet_train_test/capsnet_logs/
algorithms/efficient_capsnet_train_test/capsnet_logs/
log.*
*.h5
*.dat
yolov*
*.weights
checkpoint*
algorithms/other/
algorithms/data/
algorithms/wider_face/
algorithms/mnist_detection/
algorithms/coco/