.idea
bin
build
__pycache__
dist
bmstu_ovchinnikov_capsnet.egg-info
model_data/yolo.dat
model_data/wider_face_train_annotation.txt
model_data/wider_face_val_annotation.txt
model_data/wider_face_test_annotation.txt
model_data/coco_train_annotation.txt
model_data/coco_val_annotation.txt
model_data/coco_test_annotation.txt
downloads/
tensorboard-logs/
logs/
basic_capsnet_train_test/capsnet_logs/
diverse_capsnet_train_test/capsnet_logs/
res_capsnet_train_test/capsnet_logs/
res_capsnet_train_test/capsnet_logs/
complex_capsnet_train_test/capsnet_logs/
efficient_capsnet_train_test/capsnet_logs/
log.*
*.h5
*.dat
yolov*
*.weights
checkpoint*
other/
data/