<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head th:fragment="headerfiles">
    <meta charset="UTF-8" />
    <title></title>
</head>
<body>

<div th:fragment="error_content" class="container-fluid" style="margin-top: 10vh; height: 100%">

    <!-- 404 Error Text -->
    <div class="text-center">
        <div class="error mx-auto" th:data-text="${status}">[[${status}]]</div>
        <p class="lead text-gray-800 mb-5">[[${text}]]</p>
        <p class="text-gray-500 mb-0">[[${additional_text}]]</p>
        <a th:href="@{/}">&larr; Назад в ЛК</a>
    </div>

</div>

</body>
</html>