<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head th:fragment="headerfiles">
    <meta charset="UTF-8" />
    <title></title>
</head>
<body>

<div th:fragment="settings_content" class="container-fluid">

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h3 class="m-0 font-weight-bold text-primary">Настройки</h3>
        </div>
        <div class="card-body">
            TODO: Здесь должны быть настройки
        </div>
    </div>

</div>

</body>
</html>