<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head th:fragment="headerfiles">
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>

<div th:fragment="video_content" class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Видеоанализ</h1>
        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                class="fas fa-download fa-sm text-white-50"></i> Построить отчет</a>
    </div>

    <div class="row">
        <div class="col-xl-12 col-lg-12">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div
                        class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Параметры</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="row mb-3">
                        <div class="form-check ml-4">
                            <input class="form-check-input" type="radio" name="videoRadioButtonGroup"
                                   id="youtube-video-radio-button" checked>
                            <label class="form-check-label" for="youtube-video-radio-button">
                                Youtube-video
                            </label>
                        </div>
                        <div class="form-check ml-2">
                            <input class="form-check-input" type="radio" name="videoRadioButtonGroup"
                                   id="video-camera-radio-button">
                            <label class="form-check-label" for="video-camera-radio-button">
                                Video-camera
                            </label>
                        </div>
                    </div>
                    <div class="form-group row justify-content-center">
                        <div class="input-group ml-4 mr-4">
                            <input id="video-addr-input" type="text" class="form-control bg-light border-0 small"
                                   placeholder="Индекс Youtube-видео из URL, например, My_fX46HMH4"
                                   aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button id="start-detection-button" class="btn btn-primary" type="button">
                                    <i class="fas fa-check fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row justify-content-center">
                        <a id="finish-detection-button" href="#" class="btn btn-primary btn-icon-split">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-flag"></i>
                                        </span>
                            <span class="text">Прервать</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-xl-12 col-lg-12">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div
                        class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Видео</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body" style="display: flex; align-items: flex-start; position: relative;">
                    <img id="video-content-image" class="transparent25"
                         th:src="@{/img/video-player-placeholder-very-large.png}" alt="video"/>
                    <div id="loading-video-ring" class="loader"
                         style="display: none; position: absolute; left:0; right:0; top:0; bottom:0; margin:auto;">
                        Loading...</div>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-xl-12 col-lg-12">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div
                        class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Распознанные и классифицированные объекты</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div  id="detection-objects-div">
                        <p class="mb-0 small">Пока объекты не обнаружены и не классифицированы. Вы не запустили
                            процесс распознавания или алгоритм пока ничего не обнаружил.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            let uuid_session = generateUUID();
            let execute = null;

            $('input[type=radio][name=videoRadioButtonGroup]').change(function() {
                let video_addr_input = document.getElementById("video-addr-input");
                switch ($(this).prop('id')) {
                    case 'youtube-video-radio-button':
                        video_addr_input.placeholder = 'Индекс Youtube-видео из URL, например, My_fX46HMH4';
                        break;
                    case 'video-camera-radio-button':
                        video_addr_input.placeholder = 'Полный URL-адрес трансляции MJpeg';
                        break;
                }
            });

            $('#start-detection-button').click(function () {
                uuid_session = generateUUID()
                if ($('#youtube-video-radio-button').prop('checked') === true) {
                    let url = '/video/youtube/' + $('#video-addr-input').prop('value') + '/' + uuid_session;
                    $('#video-content-image').prop('src', url);
                    $("#loading-video-ring").css("display","block");
                } else if ($('#video-camera-radio-button').prop('checked') === true) {
                    let url = '/video/camera/' + uuid_session + '/?video_addr=' + $('#video-addr-input').prop('value')
                    $('#video-content-image').prop('src', url)
                    $("#loading-video-ring").css("display","block");
                }
            });

            $('#video-content-image').on('load', function () {
                if ($(this).prop('src').indexOf('/img/video-player-placeholder-very-large.png') < 0) {
                    $(this).removeClass('transparent25');
                    replaceDetectionObj('/video/detection_objects/' + uuid_session);
                }

                $("#loading-video-ring").css("display","none");
            });

            $('#finish-detection-button').click(function () {
                $("#detection-objects-div").html('<p class="mb-0 small">' +
                    'Пока объекты не обнаружены и не классифицированы. Вы не запустили ' +
                    'процесс распознавания или алгоритм пока ничего не обнаружил.</p>');
                if (execute != null) {
                    clearTimeout(execute);
                    execute = null;
                }
                uuid_session = generateUUID();
                let video_content = $('#video-content-image');
                video_content.prop('src', '/img/video-player-placeholder-very-large.png');
                video_content.addClass('transparent25');
            });

            $("#video-content-image").on("error", function () {
                $(this).addClass('transparent25')
                $(this).prop("src", "/img/video-player-placeholder-very-large.png");
                $("#detection-objects-div").html('<p class="mb-0 small">' +
                    'Пока объекты не обнаружены и не классифицированы. Вы не запустили ' +
                    'процесс распознавания или алгоритм пока ничего не обнаружил.</p>');
                if (execute != null) {
                    clearTimeout(execute);
                    execute = null;
                }
            });

            function replaceDetectionObj(url) {
                $.ajax({
                    url: url,
                    success: function(data, textStatus) {
                        $("#detection-objects-div").html(data);
                    },
                    complete: function() {
                        execute = setTimeout(function () {
                            replaceDetectionObj(url);
                        }, 5000)
                    }
                });
            }

            function generateUUID() {
                let d = new Date().getTime();
                return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function (c) {
                    var r = (d + Math.random() * 16) % 16 | 0;
                    d = Math.floor(d / 16);
                    return (c === 'x' ? r : (r & 0x3 | 0x8)).toString(16);
                });
            }
        })
    </script>
</div>

</body>
</html>