.idea
bin
build
__pycache__
dist
bmstu_ovchinnikov_capsnet.egg-info
resources/data/yolo.dat
resources/data/wider_face_train_annotation.txt
resources/data/wider_face_val_annotation.txt
resources/data/wider_face_test_annotation.txt
resources/data/coco_train_annotation.txt
resources/data/coco_val_annotation.txt
resources/data/coco_test_annotation.txt
downloads/
tensorboard-logs/
resources/data/logs/
basic_capsnet_train_test/capsnet_logs/
diverse_capsnet_train_test/capsnet_logs/
res_capsnet_train_test/capsnet_logs/
res_capsnet_train_test/capsnet_logs/
complex_capsnet_train_test/capsnet_logs/
efficient_capsnet_train_test/capsnet_logs/
log.*
*.h5
*.dat
yolov*
*.weights
checkpoint*
resources/other/
wider_face/
resources/data/mnist_detection/
coco/