.idea
bin
build
__pycache__
dist
bmstu_ovchinnikov_capsnet.egg-info
resources/data/yolo.dat
resources/data/wider_face_train_annotation.txt
resources/data/wider_face_val_annotation.txt
resources/data/wider_face_test_annotation.txt
resources/data/coco_train_annotation.txt
resources/data/coco_val_annotation.txt
resources/data/coco_test_annotation.txt
downloads/
tensorboard-logs/
resources/data/logs/
train/basic_capsnet_train_test/capsnet_logs/
train/diverse_capsnet_train_test/capsnet_logs/
train/res_capsnet_train_test/capsnet_logs/
train/res_capsnet_train_test/capsnet_logs/
train/complex_capsnet_train_test/capsnet_logs/
train/efficient_capsnet_train_test/capsnet_logs/
log.*
*.h5
*.dat
yolov*
*.weights
checkpoint*
resources/other/
resources/data/wider_face/
resources/data/mnist_detection/
resources/data/mars/
coco/